[submodule "maml-dsl"]
	path = maml-dsl
	url = https://github.com/wwu-pi/maml-dsl
	branch = master
[submodule "maml-editor"]
	path = maml-editor
	url = https://github.com/wwu-pi/maml-editor
[submodule "maml-generator"]
	path = maml-generator
	url = https://github.com/wwu-pi/maml-generator.git
